<div class="container">
	<div class="row">
		<div>
			<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
				<div class="form-group">
					<label for="nombreE">Nombre de la empresa</label>
					<input type="text" class="form-control" id="nombreE" [(ngModel)]="nombreE" name="nombreE" required>
				</div>
				<div class="form-group">
					<label for="descripcionE">Nombre de la tarea</label>
					<input type="text" class="form-control" id="descripcionE" [(ngModel)]="descripcionE" name="descripcionE" required>
				</div>
				<button class="btn btn-primary" type="submit">Agregar experiencia</button>
			</form>
		</div>
	</div>
</div>