<div class="container">
	<div class="row">
		<div>
			<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
				<div class="form-group">
					<label for="nombre">Skill</label>
					<input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
				</div>
				<div class="form-group">
					<label for="porcentaje">Porcentaje</label>
					<input type="text" class="form-control" id="porcentaje" [(ngModel)]="porcentaje" name="porcentaje" required>
				</div>
				<button class="btn btn-primary" type="submit">Agregar skill</button>
			</form>
		</div>
	</div>
</div>